
{% extends "layout.html" %}

{% block title %}
    Cuore Wave
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <br>
    <br>
    <img src="/static/CUORE WAVE.png" class="rounded mx-auto d-block" alt="Responsive image">
    <br>
    <br>
    <div class="col text-center">
        <form action="/main" method="GET">
            <button type="submit" class="main-button btn btn-info btn-lg">Patology Detection</button>
        </form>
    </div>
    

</div>
    

{% endblock %}